.about {
  text-align: center;
  max-width: 1920px;
  margin: auto;
  box-shadow: 0rem 0.4rem 0.4rem 0rem  rgba(0,0,0,0.2);  

  &__content {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;

    @media only screen and (max-width: $bp-medium) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  &__photo {
    height: 60rem;
    width: 50rem;
    background-size: cover;
    margin: 1rem 2rem;
    box-shadow: 0rem 0.4rem 0.4rem 0rem rgba(0,0,0,0.2);

    @media only screen and (max-width: $bp-medium) {
      height: 30rem;
      width: 25rem;
    }
  }

  &__details {
    margin: 1rem 2rem;
    justify-self: start;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media only screen and (max-width: $bp-medium) {
      width: 90vw;
    }
  }

  &__text {
    font-size: 1.4rem;
    font-family: $font-tertiary;
    width: 50rem;
    line-height: 2.75rem;
    font-weight: 100;
    text-align: center;
    letter-spacing: 0.1rem;

    @media only screen and (max-width: $bp-medium) {
      width: 90vw;
    }
  }  
}
