.buy {
  display: flex;
  width: 80vw;
  margin: auto;
  flex-direction: column;
  align-items: center;
  background-color: $color-pink;
  text-align: center;
  box-shadow: 0rem 0.4rem 0.4rem 0rem rgba(0,0,0,0.2);
  margin-top: 0.5rem;

  @media only screen and (max-width: $bp-md-sm) {
    width: 100vw;
  }

  &__btn {
    border: 1px solid $color-dark;
    background-color: transparent;
    color: $color-dark;
    text-transform: uppercase;
    padding: 2rem 4rem;
    font-family: $font-primary;
    letter-spacing: 0.2rem;
    font-size: 2rem;
    font-weight: 600;
    margin-top: 2.5rem;
    transition: all 0.2s;
    text-decoration: none;


    &:hover {
      background-color: $color-dark;
      cursor: pointer;
      color: $color-light;
    }
  }
}
