.footer {
  max-width: 1920px;
  margin: auto;
  background-color: $color-cta-btn;
  text-align: center;
  color: $color-light;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  padding: 2rem 0;
}
