.home-slider {

  @media only screen and (max-width: 1920px) {
    display: block;
  }

  @media only screen and (max-width: $bp-largest) {
    display: none;
  }

  @media only screen and (max-width: $bp-large) {
    display: none;
  }

  @media only screen and (max-width: $bp-medium) {
    display: none;
  }

  @media only screen and (max-width: $bp-small) {
    display: none;
  }

  @media only screen and (max-width: $bp-smallest) {
    display: none;
  }


}

