.navbar {
  text-align: center;
  display: grid;
  width: 90vw;
  margin: auto;
  padding: 3rem 0;
  grid-template-columns: 1fr 5fr;
  // position: sticky;
  // top: 4rem;
  // z-index: 1000;
  background-color: #fff;
  // box-shadow: 0rem 0.4rem 0.4rem 0rem rgba(0,0,0,0.2);

  @media only screen and(max-width: 1500px) {
    grid-template-columns: 1fr 2fr;
  }

  @media only screen and(max-width: $bp-medium) {
    grid-template-columns: 1fr;
  }

  @media only screen and (max-width: $bp-md-sm) {
    width: 100vw;
  }

  &__logo {
    display: flex;
    flex-direction: column;
  }

  .logo__title {
    font-family: kimiFont;
    font-size: 10rem;
    font-weight: 100;
    letter-spacing: 0.5rem;
    line-height: 11rem;

    @media only screen and(max-width: $bp-medium) {
      font-size: 12rem;
    }
  }

  .logo__subtitle {
    font-size: 1.5rem;
    font-family: kimiFontTertiary;
    letter-spacing: 0.3rem;
  }

  &__nav {
    display: none;
    //display: grid;
    grid-template-columns: repeat(9, 1fr);
    margin: auto;
    align-content: center;
    justify-items: center;
    width: max-content;

    @media only screen and(max-width: 1600px) {
      grid-template-columns: repeat(6, 1fr);
      row-gap: 2rem;
    }

    @media only screen and(max-width: $bp-largest) {
      grid-template-columns: repeat(5, 1fr);
      row-gap: 2rem;
    }

    @media only screen and(max-width: $bp-medium) {
      display: none;
    }
  }

  &__item-container {
    position: relative;
    margin: auto;
    text-align: center;

    & > a {
      &:hover + .navbar__sub-menu {
        visibility: visible;
        opacity: 1;
      }
    }
  }

  &__item,
  &__item:link,
  &__item:visited {
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    color: $color-dark;
    padding: 0 1rem;
    font-weight: 300;
    font-size: 1.1rem;
    text-align: center;
    transition: all 0.2s;

    &:hover {
      color: lighten($color-dark, 25%);
      cursor: pointer;
    }
  }

  &__sub-menu {
    border-radius: 0.25rem;
    background-color: $color-dark;
    font-size: 1.2rem;
    text-transform: uppercase;
    padding: 1rem 3.5rem;
    position: absolute;
    top: 3rem;
    left: 50%;
    transform: translate(-50%);
    list-style: none;
    text-align: center;
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s;
    z-index: 1;

    &:hover {
      visibility: visible;
      opacity: 1;
    }

    & li {
      padding: 1rem;
      color: $color-dark;

      a {
        text-decoration: none;
        color: $color-dark;
        transition: all 0.2s;
        letter-spacing: 0.2rem;
        &:hover {
          color: lighten($color-dark, 25%);
          cursor: pointer;
        }
      }
    }
  }
}
