.nav-footer {
  text-align: center;
  padding: 2rem 0;
  & :not(:last-child) {
    border-right: 1px solid $color-dark;

    @media only screen and (max-width: $bp-large) {
      border: none;
    }
  }

  &__text:link,
  &__text:visited {
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    color: $color-dark;
    font-size: 1rem;
    padding: 0 4rem;

    &:hover {
      color: lighten($color-dark, 50%);
    }
  }
}
