.products-container {
  max-width: 1920px;
  margin: 0 auto;
  text-align: center;
  background-color: $color-beige;
  padding: 7rem;
  margin-top: 0.5rem;
  box-shadow: 0rem 0.4rem 0.4rem 0rem rgba(0,0,0,0.2);

  @media only screen and (max-width: $bp-medium) {
    padding: 3rem 0;
  }

  &-white{
    background-color: $color-light;
  }
}

.products {
  display: grid;
  grid-row-gap: 10rem;
  justify-items: center;
  padding: 5rem;

  &--single{
    grid-template-columns: repeat(1, 1fr);
  }
  &--double{
    grid-template-columns: repeat(2, 1fr);
  }
  &--triple{
    grid-template-columns: repeat(3, 1fr);
  }

  @media only screen and (max-width: $bp-jumbo) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media only screen and (max-width: $bp-md-sm) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
  }
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease-in-out;

  &:hover {
    cursor: pointer;
    transform: scale(1.03,1.03);    
  }

  &__img{
    width: 40em;
    height: 40rem;
    box-shadow: 0.5rem 0.5rem 0.4rem 0rem rgba(0,0,0,0.2);

    @media only screen and (max-width: $bp-small) {
      width: 30em;
      height: 30rem;
    }
  }

  &__text {
    padding: 2rem 0;
    font-family: $font-secondary;
    font-size: 2rem;
    color: $color-primary;

    @media only screen and (max-width: $bp-small) {
      width: 60vw;
    }

    &:hover {
      cursor: pointer;
      color: lighten($color-dark, 10%);
    }
  }

  &__price {
    font-family: $font-tertiary;
    font-size: 1.5rem;
    padding: 1rem;

    span {
      margin-right: 1rem;
      text-decoration: line-through;
    }
  }
}
