.site-header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
  padding: 1.2rem 0;
  margin: 0 auto;
  margin-top: 5rem;
  border-bottom: 1px solid lighten($color-primary, 25%);

  @media only screen and(max-width: $bp-medium) {
    grid-template-columns: 1fr;
    margin: 2rem;
    border-bottom: none;
  }

  &__cart:link,
  &__cart:visited {
    text-decoration: none;
    font-size: 1.2rem;
    letter-spacing: 0.2rem;
    color: $color-dark;
    font-family: $font-secondary;

    &:hover {
      color: lighten($color-dark, 50%);
    }

    @media only screen and(max-width: $bp-medium) {
      font-size: 2rem;
    }
  }

  &__right {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
  }

  &__social-media {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-self: center;

    @media only screen and(max-width: $bp-medium) {
      display: none;
    }
  }

  &__search {
    border: none;
    outline: none;
    font-family: "Cormorant Garamond", serif;
    font-size: 1.5rem;

    @media only screen and(max-width: $bp-medium) {
      display: none;
    }
  }

  &__icon {
    fill: $color-primary;
    height: 1.2rem;
    width: 1.2rem;
    transition: all 0.2s;
    &:hover {
      cursor: pointer;
      fill: $color-dark;
      transform: translateY(-1px);
    }
  }
}
