.instagramContainer{
  background-color: var(--color-pink);
  text-align: center;
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: var(--bp-medium)) {
	.instagramContainer{
		width: 100vw;
	}
}

.instagram {
  width: 90vw;
  margin: auto;
  padding: 3rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  row-gap: 2rem;
  text-align: center;
}

@media only screen and (max-width: var(--bp-md-sm)) {
	.instagram {
		padding: 5rem 0;
		grid-template-columns: repeat(auto-fit, minmax(26rem, 1fr));
	}
}

.instagram__img {
	width: 20rem;
	height: 20rem;
	border: 3px solid var(--color-light);
	border-radius: 0.5rem;
	transition: all 0.15s ease-in-out;
}

@media only screen and (max-width: var(--bp-md-sm)) {
	.instagram__img {
		width: 25rem;
		height: 25rem;
	}
}

.instagram__img:hover{
	transform: scale(1.2,1.2);
	border: 5px solid var(--color-pink);
	box-shadow: 0.1rem 0.1rem 5rem 0.1rem rgba(var(--color-light),0.7);
}