.instagram-container{
  width: 80vw;
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  max-width: 1920px;
  box-shadow: 0rem 0.4rem 0.4rem 0rem rgba(0,0,0,0.2);
  
  @media only screen and (max-width: $bp-medium) {
    width: 100vw;
  }
}

.instagram {
  width: 80vw;
  margin: auto;
  padding: 2rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(21.1rem, 1fr));
  row-gap: 2rem;
  background-color: $color-pink;
  text-align: center;

  @media only screen and (max-width: $bp-md-sm) {
    //grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    padding: 5rem 0;
  }

  @media only screen and (max-width: $bp-medium) {
    width: 100vw;
  }

  &__img {
    width: 21.2rem;
    height: 21.2rem;
    border: 5px solid $color-light;
    border-radius: 0.5rem;
    transition: all 0.15s ease-in-out;
    // @media only screen and (max-width: $bp-md-sm) {
    //   margin: 1rem 0;
    //   width: 15rem;
    //   height: 15rem;
    // }

    &:hover{
      transform: scale(1.2,1.2);
      border: 5px solid $color-pink;
      box-shadow: 0.1rem 0.1rem 5rem 0.1rem rgba($color-light,0.7);
    }

  }
}
