.subMenu {
	border-radius: 0.25rem;
	background-color: var(--color-dark);
	font-size: 1.2rem;
	text-transform: uppercase;
	padding: 1rem 3.5rem;
	position: absolute;
	top: 3rem;
	left: 50%;
	transform: translate(-50%);
	list-style: none;
	text-align: center;
	visibility: hidden;
	opacity: 0;
	transition: all 0.5s;
	z-index: 1;
}

.subMenu:hover {
	visibility: visible;
	opacity: 1;
}

.subMenu li {
	padding: 1rem;
	color: var(--color-dark);
}