.whatsapp {
  position: fixed;
  display: grid;
  grid-template-columns: min-content max-content;
  align-items: center;
  justify-content: center;
  justify-items: center;
  bottom: 2rem;
  left: 2rem;
  background-color: var(--color-whatsapp);
  padding: 1.5rem 1.5rem;
  border: none;
  border-radius: 5rem;
  transition: all 0.2s;
}

.whatsapp:hover {
	background-color: var(--color-dark);
	cursor: pointer;
}

.icon {
	fill: var(--color-light);
	height: 3rem;
	width: 3rem;
}

