


.product {
  display: flex;
  flex-direction: column;
  transition: all 0.2s ease-in-out;
  margin: auto;
  padding-bottom: 5rem;
	max-width: 100vw;
}

.product:hover {
	cursor: pointer;
	/* transform: scale(1.03,1.03); */
}

.img{
    max-width: 90%;
    align-self: center;
	/* box-shadow: 0.5rem 0.5rem 0.4rem 0rem rgba(0,0,0,0.2); */
}

.text {
	margin: 1.5rem 0;
	font-family: kimiFont;
	font-size: 3rem;
	font-weight: 100;
	color: var(--color-dark);
	text-align: center;
}

.text:hover {
	cursor: pointer;
	color: lighten(var(--color-dark), 30%);
}

.price {
	font-family: var(--font-secondary);
	font-size: 1.5rem;
}

span {
	margin-right: 1rem;
	text-decoration: line-through;
}

@media only screen and (max-width: 56.25em) {
	.text{
		font-size: 2rem;
	}
}