.navbar {
  text-align: center;
  width: 90vw;
  margin: auto;
  padding: 3rem 0;
  grid-template-columns: 1fr 5fr;
	background-color: #fff;
  /* 
	position: sticky;
  top: 4rem;
  z-index: 1000;
  box-shadow: 0rem 0.4rem 0.4rem 0rem rgba(0,0,0,0.2);
	*/
}

@media only screen and(max-width: 1500px) {
	.navbar {
		grid-template-columns: 1fr 2fr;
	}
}

@media only screen and(max-width: 56.25em) {
	.navbar {
		display: grid;
		grid-template-columns: 1fr;
	}
}

@media only screen and (max-width: 50em) {
	.navbar {
		display: block;
		width: 100vw;
	}
}

.logo {
	display: flex;
	flex-direction: column;
}

.logoTitle {
	font-family: kimiFont;
	font-size: 10rem;
	font-weight: 100;
	letter-spacing: 0.5rem;
	line-height: 11rem;
}

@media only screen and(max-width: 56.25em) {
	.logoTitle {
		font-size: 12rem;
	}
}

.logoSubtitle {
	font-size: 1.5rem;
	font-family: kimiFontTertiary;
	letter-spacing: 0.3rem;
}

.navbarNav {
	display: none;
	/*display: grid;*/
	grid-template-columns: repeat(9, 1fr);
	margin: auto;
	align-content: center;
	justify-items: center;
	width: max-content;
}

@media only screen and(max-width: 1600px) {
	.navbarNav {
		grid-template-columns: repeat(6, 1fr);
		row-gap: 2rem;
	}
}

@media only screen and(max-width: 75em) {
	.navbarNav {
		grid-template-columns: repeat(5, 1fr);
		row-gap: 2rem;
	}
}

@media only screen and(max-width: 56.25em) {
	.navbarNav {
		display: none;
	}
}



