*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::selection {
  background-color: $color-dark;
  color: $color-light;
}

html {
  font-size: 62.5%; //1rem === 10px
  font-family: $font-primary;

  @media only screen and(max-width: $bp-largest) {
    font-size: 50%; // 1rem === 8px
  }
}

.narrow-box {
  width: 60vw;
}
