$color-light: #fff;
$color-dark: #343633;
$color-pink: #eecccc;
$color-brown: #885454;
$color-blue: #6e8898;
$color-whatsapp: #25d366;

//$font-primary: kimiFont;
$font-secondary: kimiFontSecondary;
$font-tertiary: kimiFontTertiary;

$font-primary: 'Barlow Condensed', sans-serif;

@font-face {
  font-family: kimiFont;
  src: url('../fonts/ClementePDag-Book.ttf');
}

@font-face {
  font-family: kimiFontSecondary;
  src: url('../fonts/ClementePDae-Light.ttf');
}

@font-face {
  font-family: kimiFontTertiary;
  src: url('../fonts/ClementePDaa-Hairline.ttf');
}

$bp-jumbo: 90em; //1440px
$bp-largest: 75em; //1200px
$bp-large: 68.75em; //1100px
$bp-medium: 56.25em; //900
$bp-md-sm: 50em; // 800
$bp-small: 37.5em; //600
$bp-smallest: 31.25em; //500px




