$color-light: #fff;
$color-sub-menu: #faf9f7;
$color-whatsapp: #25d366;
$color-dark: #6a7885;
$color-cta-btn: #737373;
$color-primary: #8c8d8f;
$color-beige-3: #afafb1;
$color-beige-2: #ead3cd;
$color-beige: #f7e4de;

$font-primary: kimiFont;
$font-secondary: kimiFontSecondary;
$font-tertiary: kimiFontTertiary;

@font-face {
  font-family: kimiFont;
  src: url('../fonts/ClementePDag-Book.ttf');
}

@font-face {
  font-family: kimiFontSecondary;
  src: url('../fonts/ClementePDae-Light.ttf');
}

@font-face {
  font-family: kimiFontTertiary;
  src: url('../fonts/ClementePDaa-Hairline.ttf');
}

$bp-jumbo: 90em; //1440px
$bp-largest: 75em; //1200px
$bp-large: 68.75em; //1100px
$bp-medium: 56.25em; //900
$bp-md-sm: 50em; // 800
$bp-small: 37.5em; //600
$bp-smallest: 31.25em; //500px




